.logo{
    width: 50vw;
    height: 50vh;
}

#a{
    height: 20vh;
    width: 38vw;
    border: 7px solid black;
    background-color: #d39a2000;
    position: fixed; left:80px; top:50px;
}

#a h1{
    position: fixed; left: 240px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#a h4{
    position: fixed; left: 235px; top: 110px;
    font-size: 20px;;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#b{
    height: 14vh;
    width: 38vw;
    border: 7px solid black;
    background-color: #9BA6B6;
    position: fixed; left:80px; top:180px; 
    font-family: "Anton", sans-serif;
}

#b h1{
    position: fixed; left: 150px; top: 185px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#b a{
    position: fixed; left: 240px; top:210px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#c{
    height: 14vh;
    width: 38vw;
    border: 7px solid black;
    background-color: #9BA6B6;
    position: fixed; left:80px; top:270px; 
    font-family: "Anton", sans-serif;
}

#c h1{
    position: fixed; left: 150px; top: 275px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#c a{
    position: fixed; left: 240px; top:300px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#d{
    height: 14vh;
    width: 38vw;
    border: 7px solid black;
    background-color: #f0c22b;
    position: fixed; left:80px; top:360px; 
    font-family: "Anton", sans-serif;
}

#d h1{
    position: fixed; left: 150px; top: 365px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#d a{
    position: fixed; left: 240px; top:390px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#z{
    height: 14vh;
    width: 38vw;
    border: 7px solid black;
    background-color: #b2ee97;
    position: fixed; left:80px; top:455px; 
    font-family: "Anton", sans-serif;
}

#z h1{
    position: fixed; left: 147px; top: 455px;
    color: rgba(0, 0, 0, 0.781);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#z h2{
    position: fixed; left: 238px; top: 465px;
    color: rgba(0, 0, 0, 0.836);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#e{
    height: 90vh;
    width: 48vw;
    border: 7px solid black;
    background-color: #72b852;
    position: fixed; left:575px; top:50px;
    font-family: "Anton", sans-serif; 
}

#e h1{
    position: fixed; left:807px; top:120px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#e table{
    position: fixed; left:633px; top:200px;
    width: 40vw;
    border: 5px dotted black;
    font-size: 13.5px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

#e th{
    border: 5px solid black;
}

#e td{
    border: 5px solid black;
}

#y{
    height: 8vh;
    width: 12vw;
    background-color: #9BA6B6;
    border: 5px solid black;
    position: fixed; left:800px; top:550px; 
    font-family: "Anton", sans-serif;
}

#y a{
    text-decoration: none;
    color: black;
    position: fixed; left:820px; top:567px; 
    font-size: 17px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#f{
    height: 8vh;
    width: 48vw;
    background-color: #9BA6B6;
    position: fixed; left:582px; top:57px; 
    font-family: "Anton", sans-serif;
}

#f h4{
    position: fixed; left:590px; top:43px;
    font-size: 20px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#bgvid{
    width: 99vw;
    height: 100vh;
    object-fit: cover;
    position: fixed; 
    z-index: -1;
}

body{background-color: #b2ee97;}